[submodule "themes/hyde"]
	path = themes/hyde
	url = git@github.com:spf13/hyde.git
[submodule "themes/lanyon"]
	path = themes/lanyon
	url = git@github.com:tummychow/lanyon-hugo.git
[submodule "themes/hyde-x"]
	path = themes/hyde-x
	url = git@github.com:zyro/hyde-x.git
[submodule "themes/purehugo"]
	path = themes/purehugo
	url = git@github.com:dplesca/purehugo.git
[submodule "themes/hugo-uno"]
	path = themes/hugo-uno
	url = git@github.com:SenjinDarashiva/hugo-uno.git
[submodule "themes/hugoscroll"]
	path = themes/hugoscroll
	url = git@github.com:SenjinDarashiva/hugoscroll.git
[submodule "themes/casper"]
	path = themes/casper
	url = git@github.com:vjeantet/hugo-theme-casper.git
[submodule "themes/angels-ladder"]
	path = themes/angels-ladder
	url = git@github.com:tanksuzuki/angels-ladder.git
[submodule "themes/crisp"]
	path = themes/crisp
	url = git@github.com:Zenithar/hugo-theme-crisp.git
[submodule "themes/creative"]
	path = themes/creative
	url = git@github.com:digitalcraftsman/hugo-creative-theme.git
[submodule "themes/persona"]
	path = themes/persona
	url = git@github.com:pcdummy/hugo-theme-persona.git
[submodule "themes/agency"]
	path = themes/agency
	url = git@github.com:digitalcraftsman/hugo-agency-theme.git
[submodule "themes/air"]
	path = themes/air
	url = git@github.com:syui/hugo-theme-air.git
[submodule "themes/hugo-h5bp"]
	path = themes/hugo-h5bp
	url = git@github.com:garvincasimir/hugo-h5bp-simple.git
[submodule "themes/detox"]
	path = themes/detox
	url = git@github.com:allnightgrocery/hugo-theme-blueberry-detox.git
[submodule "themes/hugo-bootstrap"]
	path = themes/hugo-bootstrap
	url = git@github.com:mmrath/hugo-bootstrap.git
